# Core Data Libraries
pandas>=1.5.0
numpy>=1.21.0

# Database Connection
sqlalchemy>=1.4
python-dotenv>=0.21.0

# Topic Modeling
bertopic==0.17.0
sentence-transformers>=2.2.2
umap-learn>=0.5.3
hdbscan>=0.8.29

# Sentiment Analysis (RoBERTa etc.)
transformers==4.52.4
torch>=1.13.0

# Visualization
matplotlib>=3.5.0
seaborn>=0.12.0
plotly>=5.9.0

# Utility
tqdm>=4.64.0
